<section class="thirteen columns">
    <h1>Iniciativas</h1>
    <article>
        <header>
            <h1>Portal e Podcast Liga dos 32</h1>
            <span><a href="http://ligados32.com" target="_blank">Portal</a> de notícias e podcast sobre futebol americano. Média de 12000 visitas mensais.</span>
        </header>
        <p>
            Desenvolvimento, arquitetura do site e disponibilidade de podcast.
        </p>
    </article>
    <article>
        <header>
            <h1>Beltrão Hacker Club</h1>
            <span>Espaço hacker para entusiastas em tecnologia em Francisco Beltrão - PR.</span>
        </header>
        <p>
            Mentor e organizador.
        </p>
    </article>
</section>