<section class="thirteen columns">
    <h1>Experiência</h1>

    <article>
      <header>
          <h1>Desenvolvedor Full-stack</h1>
          <span>Viasoft Softwares Empresariais - <address>Pato Branco - PR</address><time>abr/2017 - presente</time></span>
      </header>
      <p>
        Desenvolvimento de aplicações web e mobile utilizando as tecnologias:
        <br>
        - Node.js
        <br>
        - Express.js
        <br>
        - Ember.js
        <br>
        - Socket.io
        <br>
        - MySQL
        <br>
        - Cordova
      </p>
    </article>
    <article>
      <header>
          <h1>Coordenador de tecnologia</h1>
          <span>Tagon8 - <address>Dois Vizinhos - PR</address><time>dez/2015 - mar/2017</time></span>
      </header>
      <p>
        Coordenar equipes de desenvolvimento de software;
        <br>
        Gerenciar projetos, entregas e iterações;
        <br>
        Gerenciar arquitetura e infraestrutura de aplicações;
        <br>
        Desenvolver aplicações nas plataformas:
        <br>
        - Android
        <br>
        - Node.js
        <br>
        - Ruby on Rails
      </p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor Mobile</h1>
            <span>Tagon8 - <address>Dois Vizinhos - PR</address><time>maio/2015 - dez/2015</time></span>
        </header>
        <p>
          Desenvolver aplicações nas plataformas:
          <br>
          - Android
          <br>
          - Apache Cordova
          <br>
          - Node.js
        </p>
    </article>
    <article>
        <header>
            <h1>Sócio e desenvolvedor</h1>
            <span>Codoks - <address>Francisco Beltrão - PR</address><time>dezembro/2014 - junho/2015</time></span>
        </header>
        <p>
          Prosprecção de novos clientes;
          <br>
          Atendimento e suporte à clientes;
          <br>
          Desenvolvimento de aplicações com as plataformas:
          <br>
          - Android;
          <br>
          - Ruby on Rails.
        </p>
    </article>
    <article>
        <header>
            <h1>Programador Full-Stack</h1>
            <span>invent.to - Soluções em Sistemas Computacionais - <address>Francisco Beltrão - PR</address><time>junho/2013 - janeiro/2015</time></span>
        </header>
        <p>
          Desenvolvimento de aplicações utilizando as plataformas:
          <br>
          - Android;
          <br>
          - Ruby on Rails;
          <br>
          - Java EE;
          <br>
          - MSP 2200.
          <br>
          Atendimento e suporte à clientes.
        </p>
    </article>
</section>
