<section class="thirteen columns">
    <h1>Workshops, palestras e minicursos</h1>
    <article>
      <header>
        <h1>Workshop: Integração Android e Arduíno - UNISEP Francisco Beltrão - 2018</h1>
      </header>
      <p>
        Integração de aplicações Android com Arduíno.
      </p>
    </article>
    <article>
        <header>
            <h1>Workshop: Ember.js e Firebase - GDG Dois Vizinhos - 2016</h1>
        </header>
        <p>
            Desenvolvimento de aplicações Ember.js utilizando Firebase.
        </p>
    </article>
    <article>
        <header>
            <h1>Workshop: Desenvolvimento de aplicações Android - UNISEP Dois Vizinhos  - 2014</h1>
        </header>
        <p>
            Conceitos iniciais desenvolvimento de aplicações Android.
        </p>
    </article>
    <article>
        <header>
            <h1>Palestra: Integração Android e Hardware - GDG Francisco Beltrão - 2015</h1>
        </header>
        <p>
            Palestra no Google I/O Extended Francisco Beltrão sobre integração entre dispositivos Android e microcontroladores.
        </p>
    </article>
    <article>
        <header>
            <h1>Minicurso: Desenvolvimento para hardware - UNISEP Francisco Beltrão - 2014</h1>
        </header>
        <p>
            Conceitos básicos de eletrônica e desenvolvimento para microcontroladores.
        </p>
    </article>
    <article>
        <header>
            <h1>Minicurso: Desenvolvimento para hardware - UTFPR Francisco Beltrão - 2014</h1>
        </header>
        <p>
            Conceitos básicos de eletrônica e desenvolvimento para microcontroladores.
        </p>
    </article>
</section>
