<section class="thirteen columns">
    <h1>Habilidades</h1>
    <article>
        <header>
          <h1>Desenvolvimento</h1>
        </header>
        <p>
          Node.js:
        </p>
        <p>
          - Ember.js
        </p>
        <p>
          - Express.js
        </p>
        <p>Ruby on Rails</p>
        <p>WordPress</p>
        <p>Java/Android</p>
        <p>MySQL</p>
    </article>
    <article>
      <header>
        <h1>Arquitetura e Infraestrutura</h1>
      </header>
      <p>
        Amazon AWS
      </p>
      <p>
        Ubuntu Server
      </p>
      <p>
        SSH
      </p>
      <p>
        Nginx
      </p>
      <p>
        Apache
      </p>
      <p>
        Heroku
      </p>
    </article>
</section>
