<section class="thirteen columns">
    <h1>Habilidades</h1>
    <article>
        <header>
            <h1>Desenvolvimento</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <em>Ruby/Rails, Android/Java, Git, Linux</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <em>Node.js, WordPress, HTMl/CSS/Javascript, PostgreSQL</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            <em>MongoDB, C</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            <em>Elixir, SVN</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Arquitetura e Infraestrutura</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <em>Amazon AWS, Ubuntu Server, SSH</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <em>Nginx, Apache</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i>
            <em>Heroku</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Gerência</h1>
        </header>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <em>Scrum</em>
        </p>
    </article>
</section>